.app_dark_theme {
  --bg-color: #191919;
  --inverted-bg-color: #282828;
  --primary-color: #bdc1c6;
  --secondary-color: #9aa0a6;

  // skeleton
  --skeleton-color: #bdc1c6;
  --skeleton-shadow: #9aa0a6;

  // code
  --code-bg: #282828;

  // card
  --card-bg: #1c1c1c;

  // listbox
  --listbox-bg: #1c1c1c;
}
