.app_light_theme {
  --bg-color: #fff;
  --inverted-bg-color: #f9f9f9;
  --primary-color: #005382;
  --secondary-color: #003f63;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  // card
  --card-bg: #d5d5d7;
}
